<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CSVSourceFolderPath" value="C:\\Users\\Alex Tan\\source\\repos\\ERM_TimeOfUse_Filter\\ERM_TimeOfUse_Filter\\Data Files"/>
  </appSettings>
</configuration>